<header class='site-header'><div class='container header-inner'>
  <a class='brand' href='#top'><img src="assets/logo.svg" class='logo' alt='QuickImpact Programming Logo'><span id='brandName'>QuickImpact Programming</span></a>
  <nav class='nav' id='nav'>
    <a href='/#leistungen'>Leistungen</a>
    <a href='/#kompetenzen'>Kompetenzen</a>
    <a href='/#ueber-uns'>Über uns</a>
    <a href='/#projektablauf'>Projektablauf</a>
    <a href='/#faq'>FAQ</a>
    <a href='/#kontakt' class='btn btn-cta'>Kontakt</a>
  </nav>
  <button class='burger' id='burger' aria-label='Menü öffnen' aria-expanded='false' aria-controls='nav'><span></span><span></span><span></span></button>
</div></header>